<!DOCTYPE html>
<html lang="ru">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Работа с клиентами</title>
</head>
<div th:replace="fragments/header_footer :: header"></div>
<body>

<h1 style="text-align: center" class="display-5">Все пользователи сервиса</h1>

<table class="table" style="margin: 15px 10%; width: 80%;">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Карточка регистрации</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">E-m@il</th>
        <th>
            <button class="btn btn-outline-light nBtn">Добавить</button>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.patronymic}"></td>
        <!--        <td th:text="${client.registrationCards}"></td>-->
        <td><a th:href="@{regCard/(id=${client.id})}">карточки</a></td>
        <td th:text="${client.contacts.phone}"></td>
        <td th:text="${client.contacts.email}"></td>
        <td><a th:href="@{findById/(id=${client.id})}" class="btn btn-dark eBtn">Изменить</a></td>
        <td><a th:href="@{deleteClient/(id=${client.id})}" class="btn btn-dark dBtn" data-bs-toggle="modal"
               data-bs-target="#deleteModal">Удалить</a></td>
    </tr>
    </tbody>
</table>

<!--edit/add modal-->
<div class="myForm">
    <form th:action="@{/saveClient}" method="post">
        <div class="modal fade" id="exampleModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Клиент</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="id" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id" readonly name="id" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="col-form-label">Фамилия:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Имя:</label>
                            <input type="text" class="form-control" id="name" name="name" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="patronymic" class="col-form-label">Отчество:</label>
                            <input type="text" class="form-control" id="patronymic" name="patronymic" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Номер телефона:</label>
                            <input type="text" class="form-control" id="phone" name="phone" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">E-m@il:</label>
                            <input type="text" class="form-control" id="email" name="email" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" rel="modal:close" data-bs-dismiss="modal">
                            Закрыть
                        </button>
                        <input type="submit" class="btn btn-primary" value="Сохранить"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить пользователя?</p>
            </div>
            <div class="modal-footer">
                <a href="" type="button" class="btn btn-danger" id="del">Удалить</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/header_footer :: footer"></div>
<script type="text/javascript" src="webjars/jquery/3.6.0/jquery.js"></script>
<script type="text/javascript" src="webjars/bootstrap/5.1.3/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{js/clients.js}" src="../static/js/clients.js"></script>
</body>
</html>